*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 1.4;
}
.navbar{
    background-color: #0A6847;
}

ul{
    list-style: none;
}

nav a, nav p{
    color: #fff !important;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50%;
    padding: 15px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A6847;
}
span{
    font-size: 1.7rem;
    padding: 0 0 10px;
    font-weight: 600;
    margin: 2px 0 15px;
}